#page {
    background-color: #b8daff;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 50px;
}

h1 {
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2 {
    font-size: xx-large;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

p {
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
    align-items: center;
}

span {
    font-style: italic;
    font-weight: bold;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.btn:hover {
    opacity: 0.7;
}

a {
    padding-left: 3px;
    font-size: 20px;
    width: 0;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}

h3 {
    padding-top: 10px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    overflow-x: hidden;
    transition: 0.5s;

    padding-top: 40px;
}

.sidebar a {
    padding: 5px 5px;

    font-size: 19px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: darkgray;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 20px;
    margin-left: 20px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 5px;
    height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}
